# OSX
#
.DS_Store

__tests__/

# VSCode
.vscode/

# Android
android/

# ios
ios/

# node.js
#
node_modules/

# files
package-lock.json
.buckconfig
.editorconfig
.env
.eslintrc.js
.flowconfig
.prettierrc.js
.watchmanconfig
app.json